# Data Types and Structures

1.   What are data structures, and why are they important?
-    Data structures are ways of organizing and storing data so we can use it efficiently. They are important because they make programs faster and easier to manage. Example: using a dictionary to quickly look up a phone number instead of searching through a list.

2.   Explain the difference between mutable and immutable data types with examples?
-    Mutable:can be changed after creation. Example: list = [1,2,3], you can add or remove items.
-    Immutable: cannot be changed once created. Example: tuple = (1,2,3) or string = "hello". If you want changes, you must make a new one.

3.   What are the main differences between lists and tuples in Python?
-    List: mutable (can change), uses square brackets [].

-    Tuple: immutable (cannot change), uses parentheses ().

-    Lists are flexible, tuples are more stable.

4.   Describe how dictionaries store data?
- Dictionaries store data in key-value pairs. Example: {"name": "Suyesha", "age": 22}. You use the key ("name") to quickly get the value ("Suyesha").

5.   Why might you use a set instead of a list in Python?
- Because sets automatically remove duplicates and checking if something exists is much faster.

6.   What is a string in Python, and how is it different from a list?
- A string is a sequence of characters like "hello". A list can hold different types (numbers, strings, etc.). Strings are immutable, lists are mutable.

7.   How do tuples ensure data integrity in Python?
- Since tuples can’t be changed, the data inside stays safe from accidental modification. That’s why they’re often used for fixed values.

8.   What is a hash table, and how does it relate to dictionaries in Python?
- A hash table is a data structure that lets you find things quickly using keys. Python dictionaries are built using hash tables under the hood.

9.   Can lists contain different data types in Python?
Yes. Example: [1, "hello", 3.5, True] is perfectly valid.

10.  Explain why strings are immutable in Python?
- Because immutability makes them safer, faster, and more memory-efficient. For example, if two variables use the same string, Python can reuse it instead of making copies.

11.   What advantages do dictionaries offer over lists for certain tasks?
- They allow fast lookups by key instead of searching item by item. Example: finding someone’s phone number in a dictionary is instant, while in a list you’d have to search line by line.

12.   Describe a scenario where using a tuple would be preferable over a list?
- If you have data that should never change, like coordinates (10, 20), a tuple is better. It prevents accidental modification.

13.   How do sets handle duplicate values in Python?
- They remove duplicates automatically. Example: {1,2,2,3} becomes {1,2,3}.

14.   How does the “in” keyword work differently for lists and dictionaries?
- In a list → checks if a value exists: 5 in [1,2,5] → True.

- In a dictionary → checks if a key exists: "name" in {"name": "Suyesha"} → True.

15.   Can you modify the elements of a tuple? Explain why or why not.
- No. Tuples are immutable, so once created, they cannot be changed. This ensures data safety.

16.   What is a nested dictionary, and give an example of its use case?
- A dictionary inside another dictionary. Example: students = {
   "Suyesha": {"age": 22, "course": "CS"},
   "Amit": {"age": 21, "course": "IT"}
}

17.   Describe the time complexity of accessing elements in a dictionary.
- O(1) on average → meaning it takes constant time, no matter how big the dictionary is.

18.   what situations are lists preferred over dictionaries?
- When order matters or you don’t need key-value pairs. Example: a list of student names [“Suyesha”, “Amit”, “Riya”].

19.   Why are dictionaries considered unordered, and how does that affect data retrieval?
- Before Python 3.7, dictionaries didn’t guarantee order. Even now, the order doesn’t matter for lookups—you always use the key. That means you can’t rely on the order of insertion for logic (though it’s preserved in latest Python).

20.   Explain the difference between a list and a dictionary in terms of data retrieval.
- List → You get values by index (mylist[0]).

- Dictionary → You get values by key (mydict["name"]).
Dictionaries are faster if you need to search by name, ID, etc.

# Practical Questions

In [27]:
# 1. Write a code to create a string with your name and print it.
name = "Suyesha"
print(name)

Suyesha

In [28]:
# 2. Write a code to find the length of the string "Hello World".
text = "Hello World"
print(len(text))

11

In [29]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming"?
text = "Python Programming"
print(text[:3])

Pyt

In [30]:
# 4. Write a code to convert the string "hello" to uppercase.
word = "hello"
print(word.upper())

HELLO

In [31]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple"?
sentence = "I like apple"
print(sentence.replace("apple", "orange"))

I like orange

In [32]:
# 6. Write a code to create a list with numbers 1 to 5 and print it.
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [33]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4].
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [34]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [35]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

In [36]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

In [37]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
numbers = (100, 200, 300)
print(numbers)

(100, 200, 300)

In [38]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [39]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
nums = (10, 20, 5, 15)
print(min(nums))

5

In [40]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

In [41]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ("apple", "banana", "mango")
print("kiwi" in fruits)

False

In [42]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
letters = {'a', 'b', 'c'}
print(letters)

{'c', 'b', 'a'}

In [43]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
nums = {1, 2, 3, 4, 5}
nums.clear()
print(nums)

set()

In [44]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
nums = {1, 2, 3, 4}
nums.remove(4)
print(nums)

{1, 2, 3}

In [45]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [46]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1.intersection(set2))

{2, 3}

In [47]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
person = {"name": "Suyesha", "age": 22, "city": "Pune"}
print(person)

{'name': 'Suyesha', 'age': 22, 'city': 'Pune'}

In [48]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
person = {'name': 'John', 'age': 25}
person["country"] = "USA"
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [49]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
person = {'name': 'Alice', 'age': 30}
print(person["name"])

Alice

In [50]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person.pop("age")
print(person)

{'name': 'Bob', 'city': 'New York'}

In [51]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
person = {'name': 'Alice', 'city': 'Paris'}
print("city" in person)

True

In [52]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1, 2, 3]
my_tuple = (10, 20, 30)
my_dict = {"a": 1, "b": 2}

print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
(10, 20, 30)
{'a': 1, 'b': 2}

In [53]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
nums = random.sample(range(1, 101), 5)
nums.sort()
print(nums)

[9, 10, 35, 55, 67]

In [54]:
# 28. Write a code to create a list with strings and print the element at the third index.
words = ["apple", "banana", "cherry", "date", "mango"]
print(words[3])

date

In [55]:
# 29. Write a code to combine two dictionaries into one and print the result.
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}

combined = {**dict1, **dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [56]:
# 30. Write a code to convert a list of strings into a set.
# List of strings
words = ["apple", "banana", "cherry", "apple", "banana"]

# Convert list to set
words_set = set(words)

print(words_set)

{'cherry', 'apple', 'banana'}